<!-- O fullscreen faz com que o content fique na tela inteira -->
<ion-content color="success" [fullscreen]="true">

  <img src="assets/etec.png" alt="Etec">

  <ion-card>

    <ion-item class="ion-text-center text-bold line-bottom" lines="none">
      <ion-label>
        Digite seu E-mail e Senha
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" placeholder="Digite seu E-mail"></ion-input>
    </ion-item>

    <ion-item lines="none" class="line-bottom">
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" placeholder="Digite sua Senha"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Manter Logado!</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>

  </ion-card>

  <ion-card color="light">
    <ion-button expand="block" color="dark" routerLink="/home">Entrar</ion-button>
    <ion-button routerLink="/register" expand="block" fill="outline" color="dark">Registrar</ion-button>
  </ion-card>

</ion-content>
