<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="search" routerLink="/search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Tarefas
    </ion-title>

    <ion-buttons slot="end">

      <ion-button routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="exibirAlertLogout()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>